---
import {Debug} from 'astro/components'
import BaseLayout from '../layouts/BaseLayout.astro'
const week0 = Astro.fetchContent('./reflections/week-0/*.md')
const week1 = Astro.fetchContent('./reflections/week-1/*.md')
const week2 = Astro.fetchContent('./reflections/week-2/*.md')
const week3 = Astro.fetchContent('./reflections/week-3/*.md')
const week4 = Astro.fetchContent('./reflections/week-4/*.md')
const week5 = Astro.fetchContent('./reflections/week-5/*.md')
const week6 = Astro.fetchContent('./reflections/week-6/*.md')
---
<!-- <Debug {week1} /> -->

<BaseLayout title="Meditations for Lent" >
	<div class="wrapper">
		<header>
			<h1 class="text1">Meditations for Each Day of Lent</h1>
			<h2 class="text2">by St. Thomas Aquinas</h2>
		</header>
		<main class="table-of-contents">
			<div class="surface2 card">
				<h3 class="text1">Lead-up to First Week</h3>
				<ul class="surface2"> 
				{week0.map((datum) => (
					<li>
						<a href={datum.url}>{datum.title}</a>
					</li>
				))}
				</ul>
			</div>

			<div class="surface3 card"> 
				<h3 class="text1">1st Week in Lent</h3>
				<ul > 
				{week1.map((datum) => (
					<li>
						<a href={datum.url}>{datum.title}</a>
					</li>
				))}
				</ul>
			</div>

			<div class="surface2 card"> 
				<h3 class="text1">2st Week in Lent</h3>
				<ul > 
				{week2.map((datum) => (
					<li>
						<a href={datum.url}>{datum.title}</a>
					</li>
				))}
				</ul>
			</div>

			<div class="surface3 card"> 
				<h3 class="text1">3st Week in Lent</h3>
				<ul > 
				{week3.map((datum) => (
					<li>
						<a href={datum.url}>{datum.title}</a>
					</li>
				))}
				</ul>
			</div>

			<div class="surface2 card"> 
				<h3 class="text1">4th Week in Lent</h3>
				<ul > 
				{week4.map((datum) => (
					<li>
						<a href={datum.url}>{datum.title}</a>
					</li>
				))}
				</ul>
			</div>

			<div class="surface3 card"> 
				<h3 class="text1">Passion Week</h3>
				<ul > 
				{week5.map((datum) => (
					<li>
						<a href={datum.url}>{datum.title}</a>
					</li>
				))}
				</ul>
			</div>

			<div class="surface2 card"> 
				<h3 class="text1">Holy Week</h3>
				<ul > 
				{week6.map((datum) => (
					<li>
						<a href={datum.url}>{datum.title}</a>
					</li>
				))}
				</ul>
			</div>
		</main>
	</div>
	
</BaseLayout>

<style>
	header {
	}
	.table-of-contents {
		display: grid;
		gap: var(--size-3);
		/* grid-template-columns: repeat(auto-fit, var(--size-15)); */
	}
	
	.table-of-contents div {
		box-shadow: var(--shadow-3);
		border: var(--border-size-2) solid var(--brand);
		padding: var(--size-6);
	}

	.table-of-contents h3 {
		font-size: var(--size-7);
		margin-bottom: var(--size-3);
	}
	.wrapper { 
		display: grid;
		gap: var(--size-10);
	}

	ul {
		    padding-left: var(--size-3);

				list-style-position: inside
    /* list-style-type: none; */
	}
	li{
		padding: 0;
	}
	a {
		color: var(--text1)
	}
	a:visited {
		color: var(--text2)
	}
</style>