---
import BaseLayout from "../layouts/BaseLayout.astro";
import {Debug} from "astro/components"
const { content } = Astro.props;
const title = content.title || "Day's reflection";
const currentDay = content.day;

// pagination

let previous = null;
let next = null;


const allReflections = Astro.fetchContent('../pages/reflections/*/*.md')
if ( currentDay > 0 ){
   [previous] = allReflections.filter(reflection => {
    return reflection.day == (currentDay - 1);
  });
}
if (currentDay < 46 ){
   [next] = allReflections.filter(reflection => {
    return reflection.day == (currentDay + 1);
  });
}

---
<!-- <Debug {content} /> -->
<BaseLayout {title}>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href={Astro.resolve("../styles/reflection.css")}
    />
  </head>
  <div class="markdown">
    <header>
    <nav>
        {previous ? `<a href=${previous.url}><span class="arrow"> &#8249;</span> Prev</a>` : '<a class="disabled">Previous</a>' }
         {next ? `<a href=${next.url}> Next <span class="arrow"> &#8250;</span></a>` : '<a class="disabled">Next</a>' }
    </nav>
      <h1 class="text1">{content.title}</h1>
      {content.subtitle ? `<h2 class="text2 subtitle">${content.subtitle} </h2>` : "" }
      <h2 class="text2 scripture">{content.scripture}</h2>
    </header>

    <article>
      <slot />
    </article>
        <nav>
        {previous ? `<a href=${previous.url}><span class="arrow"> &#8249;</span> Prev</a>` : '<a class="disabled">Previous</a>' }
         {next ? `<a href=${next.url}> Next <span class="arrow"> &#8250;</span></a>` : '<a class="disabled">Next</a>' }
    </nav>
  </div>
</BaseLayout>

